:root {
  --primary-font: "Roboto", sans-serif;
  --primary-fontsize: 16px;
  --primary-fontweight: 400;
  --primary-fontcolor: #434455;
  --primary-logocolor: #4d5ae5;
  --textcolor: #2e2f42;
  --textcolor2: #f4f4fd;
  --textlinknav: #404bbf;
  --primary-lineweight: 1.5;
  --btncolor: #4d5ae5;
  --btnBGcolor: #f4f4fd;
  --project-fontcolor: #2e2f42;
  --collor-button: #e7e9fc;
  --footer-color: #ffffff;
  --color-customers: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  background: #ffffff;
  font-family: var(--primary-font);
  color: var(--primary-fontcolor);
  font-size: var(--primary-fontsize);
  line-height: var(--primary-lineweight);
  font-weight: var(--primary-fontweight);
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  display: flex;

  padding-top: 0px;
  padding-bottom: 0px;

  align-items: center;
  height: 70px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-text {
  color: var(--textcolor);
}

.logo.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-logocolor);
  list-style: none;
  text-decoration: none;
}

.logo {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu-nav,
.contact {
  display: none;
}

.menu-nav.link:hover,
.menu-nav.link:focus {
  color: var(--textlinknav);
}

.contact.link:hover,
.contact.link:focus {
  color: #404bbf;
}

.contact.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-fontcolor);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------SECTION 1--------- */

.section.hero {
  background: var(--textcolor);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 96px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section.hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.hero-text {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;

  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
  margin-bottom: 72px;
  text-align: center;
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button,
.filt-btn,
.modal-button {
  padding: 16px 32px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.modal-button:hover,
.modal-button:focus,
.contact-link:focus {
  background-color: #404bbf;
}

/* -------------------SECTION 2 */

.section.preference {
  padding-bottom: 120px;
}

.preference.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
}

.pref-content {
  background-color: #ffffff;
  width: 100%;
}

.pref-rectangle {
  /* Иконки */
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.pref-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(---primary-fontcolor);
  text-align: left;
}

.name-group {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.name-sect {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--textcolor);
  text-align: center;
  margin-bottom: 72px;
}

/* ----------------SECTION 3 */
.section.doing {
  display: none;
}

/* ----------------SECTION 4 */
.container.section.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.card-content {
  padding: 32px 0;
  max-width: 232px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-items {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-name-group {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--textcolor);
  text-align: center;
  margin-bottom: 8px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 12px;
  background-color: var(--btncolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social.list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.icon-social {
  color: #f4f4fd;
  fill: var(--btnBGcolor);
}
/* --------------------SECTION 5 ------- */
.customers-item {
  width: calc((100% - 16px) / 2);
}

.customers.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  align-items: center;

  list-style: none;
}

.section.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-link {
  background-color: #ffffff;
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  border-color: #8e8f99;
  color: var(--color-customers);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .icon-customers,
.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.icon-customers {
  fill: currentColor;
}

/* --------------------FOOTER------------- */

.social-footer.list {
  display: flex;
  gap: 16px;
}

.footer {
  background-color: var(--textcolor);
}

/* *************MENU******************* */
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 16px;

  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  border: none;
}

.icon-mobile-btn {
  top: 0;
  left: 0;
  /* fill: #2e2f42;
  z-index: 999; */
}

.menu-toggle-close {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.mobile-menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-menu-list .active {
  color: #404bbf;
}

.mobile-menu-social-list {
  display: flex;
  gap: 56px;
  list-style: none;
}

.tel {
  color: #4d5ae5;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.mail {
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

/* ********************************** */

.container.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: inherit;
  padding-top: 96px;
  padding-bottom: 96px;
  gap: 72px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-footer-items {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--btncolor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon-social {
  fill: var(--btnBGcolor);
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-logocolor);
  list-style: none;
  text-decoration: none;
  margin-bottom: 16px;
}

.logo-footer-text {
  color: #f4f4fd;
}

.label-subscribe {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--footer-color);
}
.footer-subscribe,
.footer-content,
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.subscribe-text,
.footer-social-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--footer-color);
  text-align: center;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;

  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.input-subscribe {
  padding-left: 16px;
  border: 1px solid #ffffff;
  background: transparent;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--footer-color);
  border-radius: 4px;
}

.input-subscribe::placeholder {
  color: var(--footer-color);
}

.button-subscribe {
  height: 40px;
  display: inline-flex;
  margin: 0 auto;
  padding: 8px 24px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.icon-subscribe {
  margin-left: 16px;
  fill: var(--btnBGcolor);
}
*/




/* ********************************************** */
/* ---------------------PORFOLIO----------------- */
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter.list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-items {
}
.work-items {
  width: calc((100% - 78px) / 3);
}

.work-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translate(0);
}

.work-items:hover .work-cover-text {
  transform: translate(0);
}
.work.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  list-style: none;
  margin: 0 auto;
}
.work-items-conteiner {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  padding-left: 8px;
  padding-right: 8px;
  border-top: none;
  padding: 32px 16px;
}

.work-img-overflow {
  position: relative;
  overflow: hidden;
}
.work-cover-block {
}

.work-cover-text {
  position: absolute;
  background-color: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.filt-btn {
  color: var(--btncolor);
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--btnBGcolor);
  padding: 12px 24px;
  border: 1px solid var(--collor-button);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filt-btn:hover,
.filt-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filt-btn:hover .work-cover-text,
.filt-btn:focus .work-cover-text {
}

.project.link {
  text-decoration: none;
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project.link:hover .work-cover-text,
.project.link:focus .work-cover-text {
  transform: translateY(0%);
}

.project.link:hover,
.project.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--project-fontcolor);
  margin-bottom: 8px;
}
.type-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-fontcolor);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 392px;
  max-width: 584px;
  width: calc(100% - 36px);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  font-family: var(--primary-font);
  color: var(--primary-fontcolor);
  font-size: var(--primary-fontsize);
  line-height: var(--primary-lineweight);
  font-weight: var(--primary-fontweight);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  border: 1px solid #999999;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.icon-modal-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-btn:hover,
.icon-modal-btn:focus {
  fill: #ffffff;
}

.modal-label {
  display: block;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--color-customers);
  line-height: 1.17;
  margin-bottom: 4px;
  font-size: 12px;
}

.container-input-svg {
  position: relative;
}
.modal-title {
  margin-top: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--textcolor);
  font-size: 16px;
  line-height: 1.5;
}

.form-items {
  margin-bottom: 8px;
}
.form-items-comment {
  margin-bottom: 16px;
}
.form-items-checkbox {
  margin-bottom: 24px;
}

.modal-text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-comment {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  padding: 8px 16px;
  font-size: 12px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-text:focus,
.modal-text-comment:focus {
  border-color: #4d5ae5;
}

.modal-text:focus-within + .icon-modal {
  fill: #4d5ae5;
}

.modal-text:placeholder-shown {
  /* position: relative; 
  border: 1px solid #4d5ae5;*/
}

.privacy-text {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy.link {
  color: var(--primary-logocolor);
}

.modal-checkbox:checked + .modal-label-checkbox > .privacy-text {
  background-color: var(--textlinknav);
  border: none;
  fill: var(--btnBGcolor);
}

.modal-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-customers);
}
.icon-checkbox {
  /* border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  //fill: #fcfcfc; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 427px) {
  .tel {
    font-size: 25px;
  }
  .mobile-menu-social-list {
    gap: 30px;
  }
}

/* ------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-nav.list {
    font-weight: 500;
    list-style-type: none;
    margin-left: 76px;
    color: #404bbf;
  }

  .menu-nav {
    gap: 40px;
    display: flex;
    align-items: center;
  }

  .contact {
    display: flex;
    margin: 0 auto;
  }
  .contact.list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-style: none;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    font-style: normal;
    list-style-type: none;
  }

  .menu-nav.link {
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav .active {
    position: relative;
  }

  .menu-nav .active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }

  .menu-toggle {
    display: none;
  }

  /* -----------------SECTION 1-------- */

  .section.hero {
    margin-bottom: 96px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section.hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  /* -----------------SECTION 1-------- */
  .pref-content {
    width: calc((100% - 24px) / 2);
    max-width: unset;
  }

  .preference.list {
    gap: 24px;
  }

  .container.header-container {
    display: flex;
    gap: 40px;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 24px;
    padding: 0 15px;
  }
  /* ----------------SECTION 2 */
  .name-group {
    text-align: left;
  }

  /* ----------------SECTION 4 */

  .container.section.team {
    max-width: 584px;
  }

  .section.team {
    padding-bottom: 96px;
  }
  .team.list {
    width: 100%;
  }
  .team-item {
    max-width: 264px;
  }

  /* ----------------SECTION 5 */
  .customers.list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  /* ----------------FOOTER-------------- */

  .footer-content {
    max-width: 264px;
    align-items: normal;
  }

  .footer-social {
    max-width: 208px;
  }

  .footer-subscribe {
    display: flex;

    flex-direction: column;
    max-width: 453px;
  }
  .subscribe-text {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .input-subscribe {
    width: 264px;
  }
  .button-subscribe {
    margin: unset;
  }
}
/* ------------------------------------------------------ */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-toggle {
    display: none;
  }

  .contact.list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .section.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-bottom: 120px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section.hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* -----------SECTION 2----------------- */

  .pref-rectangle {
    /* Иконки */
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .preference.list {
    gap: 24px;
  }

  .name-group {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .pref-content {
    width: calc((100% - 24px * 3) / 4);
    margin-bottom: 8px;
  }

  /* ---------------------SECTION 3 */
  .section.doing {
    display: flex;
  }

  .doing.list {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  .doing-items {
    width: calc((100% - 48px) / 3);
  }

  /* ----------------SECTION 4 */

  .section.team {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }

  /* ----------------SECTION 5 */
  .customers.list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .pref-text {
    text-align: center;
  }

  .section.customers {
    /* padding-top: 120px; */
    padding-bottom: 120px;
  }
  .customers-item {
    width: calc((100% - 16px) / 2);
  }

  /* ----------------FOOTER-------------- */

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .subscribe-form {
    flex-direction: row;
  }
}
